div{
    padding: 15px;
    margin: 15px;
    width: 30%;
    text-align: center;
    color: white;
    display: inline-block;
    color: black;
    font-family: "Segoe UI" 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



#div1{
    background-image: linear-gradient(90deg, teal, green);
}
#div2{
    background-image: linear-gradient(90deg, rgb(176, 144, 176), rgb(163, 107, 216));
}
#div3{
    background-image: linear-gradient(90deg, rgb(210, 210, 124), rgb(63, 63, 147));
}

button{
    background-image: linear-gradient(90deg, rgb(57, 12, 57), rgb(162, 98, 222));
    color: white;
    width: 90px;
    height: 30px;
    border: none;
    border-radius: 20px;
}